services:
  - type: web
    name: dashboard-capacity
    runtime: static
    rootDir: Dashboardcapacity
    buildCommand: npm install && npm run build
    staticPublishPath: ./dist
    envVars:
      - key: NODE_VERSION
        value: 20
    routes:
      - type: rewrite
        source: /*
        destination: /index.html
